@model Movie

<h1>Add Movie</h1>

<form method="post">

<label>Title</label>
<input asp-for="Title" />

<label>Duration</label>
<input asp-for="Duration" />

<label>Rating</label>
<input asp-for="Rating" />

<button type="submit">Add Movie</button>

</form>